
body {
    background-color: #E90000;
    font-family: Courier New;
    font-size: 120%;
    padding: 0;
    margin: 0;
}

#Button1 {
    width: 173px;
    height: 30px;
    font-family: Courier New;
    color: white;
    background: #E90000;
    border-color:black;
    border:2px;
}

.container {
    width: 860px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: #444;
}
